@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Roboto+Slab&display=swap");
* {
  margin: 0px;
  padding: 0px; }

header {
  position: sticky;
  z-index: 99;
  left: 0;
  right: 0;
  top: 0;
  background: #fff; }
  header .information .infor {
    background: #000; }
    header .information .infor .infor-nav {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      header .information .infor .infor-nav .info-item {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        header .information .infor .infor-nav .info-item .info-link {
          color: #fff;
          font-size: 15px; }
          header .information .infor .infor-nav .info-item .info-link .lang {
            margin-right: 20px; }
        header .information .infor .infor-nav .info-item .info-link span:hover {
          color: #cf385e; }
  header .menu1 {
    display: flex;
    justify-content: center;
    align-items: center; }
    header .menu1 .nav-item {
      padding-top: 10px;
      padding-bottom: 10px; }
    header .menu1 .nav-link {
      color: #000;
      margin: 0 10px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 18px;
      box-sizing: border-box;
      overflow: hidden;
      border-style: none;
      border: 1px solid #fff; }
    header .menu1 .nav-link:hover {
      color: #e7272d;
      border: 1px solid #e7272d;
      transition-duration: 0.5s; }
  header .menu-search {
    display: flex; }
    header .menu-search .search-text {
      display: none;
      outline: none !important;
      border-style: none; }
    header .menu-search .search-text::placeholder {
      color: #e7272d; }
    header .menu-search .active {
      display: inline-block; }
    header .menu-search .cart {
      border-style: none;
      background: #fff;
      margin: 0 5px;
      color: #000; }
    header .menu-search .cart:hover {
      text-decoration: none !important; }
    header .menu-search .circle {
      background: #e7272d;
      color: #fff;
      border-radius: 50%;
      padding: 5px; }
  header .menu2 {
    text-align: center;
    padding: 16px 0px; }
  header .menu3 {
    display: none; }
  header .res {
    display: flex;
    justify-content: space-between;
    display: none; }
    header .res .nav-bg {
      background: #eee;
      position: relative; }
      header .res .nav-bg .nav-bg-button {
        color: #e7272d !important;
        border-color: 1px solid #e7272d;
        outline: none !important; }
      header .res .nav-bg .nav-menu {
        background: #eee; }
        header .res .nav-bg .nav-menu li {
          margin-bottom: 10px; }
          header .res .nav-bg .nav-menu li a {
            padding: 14px;
            border-bottom: 1px solid #aaa;
            color: #444;
            text-transform: uppercase; }
    header .res .form-search {
      position: relative;
      border: 1px solid #e7272d;
      margin: 0 auto;
      padding: 5px;
      border-radius: 3px; }
      header .res .form-search input {
        background: none;
        border-style: none;
        outline: none !important; }
      header .res .form-search button {
        background: none;
        border-style: none;
        position: absolute;
        right: 0; }
    header .res .icon {
      text-align: center;
      color: #e7272d;
      margin-top: 27px; }
  @media screen and (max-width: 767px) {
    header .information {
      display: none; }
    header .res {
      display: block;
      display: flex; }
    header .show-all .child1 {
      border: 1px solid #ddd; }
    header .menu1 {
      display: none; }
    header .menu2 {
      display: none; } }
  @media screen and (max-width: 575px) {
    header .imformation {
      display: none; }
    header .res {
      display: block;
      display: flex; }
    header .show-all .child1 {
      border: 1px solid #ddd; }
    header .menu1 {
      display: none; }
    header .menu2 {
      display: none; } }

.checkout {
  background: url("../img/koibento.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1; }
  .checkout .overlay {
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
    z-index: 3; }
  .checkout .checkout-text {
    padding: 100px 10%;
    text-transform: capitalize;
    color: #fff;
    position: relative;
    z-index: 4;
    font-size: 40px; }
    .checkout .checkout-text .text {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 40px; }
    .checkout .checkout-text .koibento {
      text-decoration: none;
      color: #fff;
      font-size: 20px; }

.order {
  margin: 100px 0; }
  .order .infor-order {
    text-transform: capitalize; }
    .order .infor-order .order1 {
      padding-left: 10%;
      font-weight: 600; }
    .order .infor-order .name {
      margin-top: 50px; }
    .order .infor-order .gender {
      margin-right: 100px; }
  .order .order {
    border: 1px solid #9f8888;
    box-shadow: 2px 2px #8fb7cf36; }
  .order .order-custor .order2 {
    border: 1px solid #ddd;
    background: #c4dad82b;
    text-transform: capitalize;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 50px;
    font-weight: 600; }
  .order .order-custor .money {
    text-transform: capitalize;
    display: flex;
    justify-content: space-between; }
  .order .pay .order3 {
    border: 1px solid #ddd;
    background: #c4dad82b;
    text-transform: capitalize;
    text-align: center;
    padding: 10px 0;
    font-weight: 600; }
  .order .order-btn {
    text-align: center;
    margin-top: 10px; }
    .order .order-btn button {
      color: #fff;
      background-color: #e7272d;
      padding: 10px 40px;
      border-style: none; }
    .order .order-btn button:hover {
      background-color: #000;
      transition: 0.6s; }

footer {
  background: #191d20; }
  footer h3 {
    color: #fff;
    font-size: 21px;
    letter-spacing: 1px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 20.8px;
    margin-top: 64px; }
  footer p {
    color: #bbb;
    font-size: 14.4px;
    line-height: 28.2px;
    width: 257px; }
    footer p span {
      display: block;
      margin-top: 14px; }
  footer h5 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin: 16px 0px; }
  footer .link1 {
    color: #bbbbbb;
    width: 30px;
    height: 30px;
    line-height: 29px;
    text-align: center; }
  footer .link2 {
    color: #bbbbbb;
    width: 30px;
    height: 30px;
    line-height: 29px;
    text-align: center; }
  footer .link3 {
    color: #bbbbbb;
    width: 30px;
    height: 30px;
    line-height: 29px;
    text-align: center; }
  footer .link4 {
    color: #bbbbbb;
    width: 30px;
    height: 30px;
    line-height: 29px;
    text-align: center; }
  footer .item {
    margin-right: 8px;
    cursor: pointer; }
  footer .item span:hover {
    border: 2px solid #f26522;
    color: #f26522;
    transition: 0.5s all; }
  footer .text {
    color: #bbb;
    font-size: 14.4px;
    line-height: 28.2px;
    text-align: center;
    list-style-type: none;
    width: 257px;
    margin-bottom: 14.4px; }
    footer .text a {
      color: #f35041 !important; }
    footer .text span {
      display: block;
      text-align: left;
      margin-top: 9.4px; }
  footer .input {
    margin-top: 21px;
    margin-bottom: 14px; }
  footer .btn-footer {
    padding: 7px 28px;
    color: #f35041;
    border: 1px solid #f35041; }
  footer .btn-footer:hover {
    background: #f35041;
    color: #fff;
    border: 1px solid #fff; }
  footer .img-footer:hover {
    opacity: 0.4;
    transition-duration: 0.5s; }

.footer {
  background-color: #0f1215; }
  .footer p {
    text-align: center;
    padding: 14px 0px; }
    .footer p a {
      color: #f35041 !important; }

/*# sourceMappingURL=style.css.map */
