*{
    margin: 0;
    padding: 0;
}
header{
    position: sticky;
    z-index: 99;
    top:0;
    right: 0;
    left: 0;
    background-color: #fff;
    border-bottom: 1px solid rgb(207, 56, 94);
    .infor{
        background:#000;
        .infor-nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .info-item{
                padding: 12px 0px;
                display: flex;
            align-items: center;
            justify-content: space-between;
                .info-link{
                    color:#fff;

                    .lang{
                        margin-right:20px;
                    }
                }
            .info-link span:hover{
                    color:rgb(207, 56, 94);
                }
            }


        }
        }
        .menu1{
            display: flex;
            justify-content: center;
            align-items: center;
            .nav-item{
                padding-top:40px ;
                padding-bottom:40px ;
            }

                .nav-link{
                    color:#000;
                    margin:0 15px;
                    text-transform:uppercase;
                    font-weight: 600;
                    font-size:18px;
                    box-sizing: border-box;
                    overflow: hidden;
                    border-style: none;
                    border:1px solid #fff;
                }
                .nav-link:hover{
                    color:#e7272d;
                    border: 1px solid #e7272d;
                    transition-duration: 0.5s;

                }
            }
            .menu-search{
                display: flex;
                .search-text{
                display: none;

                    outline: none !important;
                    border-bottom: 1.5px solid #e7272d !important;
                    border-style: none;
                }
                .search-text::placeholder{
                    color:#e7272d;
                }
                .active{
                    display: inline-block;
                }

                .cart{
                    border-style:none;
                    background:#fff;
                    margin:0 5px;
                        color:#000;
                }
                .cart:hover{
                    text-decoration: none !important;
                }

                .circle{
                    background:#e7272d;
                    color:#fff;
                    border-radius: 50%;
                    padding:5px;
                }
            }

        .menu2{
            text-align: center;
            padding: 16px 0px;
        }
        .menu3{
            display:none;
        }
        .res{
            display: flex;
            justify-content: space-between;
            display: none;
            border-bottom: 1.5px solid #e7272d !important;
           .nav-bg{
               background: #eee; 
               position: relative;
               .nav-bg-button {
                   color:#e7272d !important;
                   border-color: 1px solid #e7272d;
                   outline: none !important;
               }
              .nav-menu{
                  background: #eee;
                //   position: absolute;
                //   right:0;
                //   top:0;
                //   left:0;
                //   bottom:0;
                li{
                    margin-bottom: 10px;
                    a{
                        padding: 14px;
                        border: 1px solid #e7272d;
                        border-radius: 8px;
                        color:#e7272d;
                        text-transform: uppercase;
                    }
                    a:hover{
                        background: #e7272d;
                        color:#fff;
                        transition: 0.75s;
                        border-style:none
                    }
                }
              }
           }
            .form-search{
                position: relative;
                border:1px solid #e7272d;
                margin: 0 auto;
                
                input{
                    background: none;
                    border-style:none;
                    
                    outline: none !important;
                   

                }
                button{
                    background: none;
                    border-style:none;
                    position: absolute;
                    right:0;
                  
                }
            }
            .icon{
                text-align: center;
                color:#e7272d;
                margin-top:27px;
            }
        }
        @media screen and (max-width:767px) {
            .res{
                display: block;
                display: flex;

            }
            .menu1{
                display: none; 
            }
            .menu2{
                display: none; 
            }

        }
        @media screen  and (max-width:575px){
            .res{
                display: block;
                display: flex;

            }
            .menu1{
                display: none; 
            }
            .menu2{
                display: none; 
            }
        }

    }
    .content-chef{
        .img-content{
            background-image: url(
                "img/1-2.png"
            )  ;
            
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            h1{
                color:#fff;
                font-size: 48px;
                padding: 50px 0px;
            }
            p{
                padding: 50px 0px;
                span{
                    color:#e7272d;
                    font-size: 14px;
                }
                a{
                    color:#fff;
                }
            }
        }
       .chef{
        position: relative;
        width: 100%;
        img{
            position: relative;
            width: 100%;
            top: 0;
            left: 0;
            height: auto;
        }
            .name-chef{
                position: absolute;
                height: 73%;
                left: 0;
                top: 60%;
                width: 100%;
                background-color: #e7272d;
                transition: 1s;
                bottom:0;
                
               
                h4{
                    font-size: 24px;
                    margin-bottom: 10px;
                    margin-top: 12px;
                    text-align: center;
                    a{
        
                        color:#fff;
                    }
                    a:hover{
                        text-decoration: none !important;
                    }
                }
            
            
                p{
                    color:#fff;
                    font-size: 14px;
                    line-height: 24px;
                    margin: 0 0 20px 0;
                    text-align: center;
                }
                .menu{
                    padding-top: 20px;
                    background-color: #191d20;
                    
                    .line{
                        
                        width: 120px;
                        height: 1px;
                        background: #e7272d;
                        margin: 0 auto;
                        margin-bottom: 50px;
                    }
                    .nav-menu{
                        display: flex;
                        justify-content: center;
                        padding-bottom: 20px;
                        a{
                            color:#fff;
                           
                            border-radius: 50%;
                        }
                        a:hover{
                            background-color: #e7272d;
                            transition: 0.5s;
                        }
                    }
                }
                
            }

       }
       .chef:hover .name-chef{
        bottom: 40%;
    }

    }
    footer{
        margin-top: 150px;
        background: #191d20;
        @mixin h3 {
    
                color:#fff;
                font-size: 21px;
                letter-spacing: 1px;
                font-family: 'Roboto Condensed', sans-serif;
                margin-bottom: 20.8px;
                margin-top: 64px;
    
    
        }
        h3{
            @include h3;
        }
        @mixin p {
            color:#bbb;
            font-size:14.4px ;
            line-height: 28.2px;
            //  text-align: center;
            width:257px;
        }
        p{
            @include p;
            span{
                display: block;
                margin-top:14px;
            }
        }
        h5{
            color:#fff;
            font-size: 16px;
            font-weight: 600;
            margin :16px 0px;
        }
        @for $i from 1 to 5{
            .link#{$i}{
                color:rgb(187,187,187);
                width:30px;
                height:30px;
                line-height: 29px;
                text-align: center;
            }
        }
        .item{
            margin-right: 8px;
            cursor: pointer;
        }
        .item span:hover{
            border:2px solid #f26522;
            color:#f26522;
            transition:0.5s all;
        }
        .text{
            color:#bbb;
            font-size:14.4px ;
            line-height: 28.2px;
            text-align: center;
            list-style-type: none;
            width:257px;
            margin-bottom: 14.4px;
            a{
                color:#f35041 !important;
            }
            span{
                display: block;
                text-align: left;
                margin-top:9.4px;
            }
        }
        .input{
            margin-top: 21px;
            margin-bottom: 14px;
    
        }
        .btn-footer{
            padding: 7px 28px;
            color:#f35041;
            border:1px solid #f35041;
        }
        .btn-footer:hover{
            background: #f35041;
            color:#fff;
            border:1px solid #fff;
        }
        .img-footer:hover{
    
            opacity: 0.4;
            transition-duration: 0.5s;
        }
    }
    .footer{
        background-color: #0f1215;
        p {
            text-align: center;
            padding:14px 0px;
            a{
                color:#f35041 !important;
    
            }
        }
    }