@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Roboto+Slab&display=swap");
* {
  margin: 0px;
  padding: 0px; }

header {
  position: sticky;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  border-bottom: 1px solid #cf385e; }
  header .infor {
    background: #000; }
    header .infor .infor-nav {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      header .infor .infor-nav .info-item {
        padding: 12px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        header .infor .infor-nav .info-item .info-link {
          color: #fff; }
          header .infor .infor-nav .info-item .info-link .lang {
            margin-right: 20px; }
        header .infor .infor-nav .info-item .info-link span:hover {
          color: #cf385e; }
  header .menu-header {
    position: sticky; }
  header .menu1 {
    display: flex;
    justify-content: center;
    align-items: center; }
    header .menu1 .nav-item {
      padding-top: 40px;
      padding-bottom: 40px; }
    header .menu1 .nav-link {
      color: #000;
      margin: 0 15px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 18px;
      box-sizing: border-box;
      overflow: hidden;
      border: 1px solid #fff; }
    header .menu1 .nav-link:hover {
      color: #e7272d;
      border: 1px solid #e7272d;
      transition-duration: 0.5s; }
  header .menu-search {
    display: flex; }
    header .menu-search .search-text {
      display: none;
      outline: none !important;
      border-bottom: 1.5px solid #e7272d !important;
      border-style: none; }
    header .menu-search .search-text::placeholder {
      color: #e7272d; }
    header .menu-search .active {
      display: inline-block; }
    header .menu-search .cart {
      border-style: none;
      background: #fff;
      margin: 0 5px;
      color: #000; }
    header .menu-search .cart:hover {
      text-decoration: none !important; }
    header .menu-search .circle {
      background: #e7272d;
      color: #fff;
      border-radius: 50%;
      padding: 5px; }
  header .menu2 {
    text-align: center;
    padding: 16px 0px; }
  header .menu3 {
    display: none; }
  header .res {
    display: flex;
    justify-content: space-between;
    display: none;
    border-bottom: 1.5px solid #e7272d !important; }
    header .res .nav-bg {
      background: #eee;
      position: relative; }
      header .res .nav-bg .nav-bg-button {
        color: #e7272d !important;
        border-color: 1px solid #e7272d;
        outline: none !important; }
      header .res .nav-bg .nav-menu {
        background: #eee; }
        header .res .nav-bg .nav-menu li {
          margin-bottom: 10px; }
          header .res .nav-bg .nav-menu li a {
            padding: 14px;
            border: 1px solid #e7272d;
            border-radius: 8px;
            color: #e7272d;
            text-transform: uppercase; }
          header .res .nav-bg .nav-menu li a:hover {
            background: #e7272d;
            color: #fff;
            transition: 0.75s;
            border-style: none; }
    header .res .form-search {
      position: relative;
      border: 1px solid #e7272d;
      margin: 0 auto; }
      header .res .form-search input {
        background: none;
        border-style: none;
        outline: none !important; }
      header .res .form-search button {
        background: none;
        border-style: none;
        position: absolute;
        right: 0; }
    header .res .icon {
      text-align: center;
      color: #e7272d;
      margin-top: 27px; }
  @media screen and (max-width: 767px) {
    header .res {
      display: block;
      display: flex; }
    header .infor {
      display: none; }
    header .menu1 {
      display: none; }
    header .menu2 {
      display: none; } }
  @media screen and (max-width: 575px) {
    header .res {
      display: block;
      display: flex; }
    header .infor {
      display: none; }
    header .menu1 {
      display: none; }
    header .menu2 {
      display: none; } }

.item-slide {
  position: relative;
  margin-bottom: 40px; }
  .item-slide img {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    height: auto; }
  .item-slide .text-slide {
    position: absolute;
    top: 50%;
    right: -100%;
    transform: translate(50%, -50%);
    width: 768px;
    height: 51px;
    text-align: center; }
    .item-slide .text-slide h2 {
      color: red;
      font-size: 58px;
      font-weight: 700; }
      .item-slide .text-slide h2 span {
        color: #fff; }

.item-slide:hover .text-slide {
  right: 50%;
  transition: 1.8s; }

.menu {
  background-image: url("img/foody_bg-1.jpg");
  margin-bottom: 40px; }
  .menu h3 {
    color: #fff;
    margin-bottom: 24px;
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center; }
  .menu .line {
    width: 80px;
    height: 1px;
    background: #fff;
    margin: 0 auto; }
  .menu .nav-menu {
    margin: 40px 0px;
    display: flex;
    justify-content: center; }
    .menu .nav-menu .menu-item {
      margin-right: 8px; }
      .menu .nav-menu .menu-item .menu-link {
        padding: 8px 22px;
        background: #fff;
        border: 1px solid #fff;
        color: #404040;
        text-transform: uppercase; }
      .menu .nav-menu .menu-item .menu-link:hover {
        color: #fff;
        background: #e7272d;
        transition: 1s;
        border-style: none; }
  .menu .row-menu {
    margin-bottom: 35px; }
  .menu .row-menu:last-child {
    padding-bottom: 50px; }
  .menu .food-all {
    background: #fff;
    text-align: center;
    position: relative; }
  .menu .name-food {
    z-index: 199;
    background: #fff;
    text-align: center;
    border-top: 1px solid #e7272d;
    padding-bottom: 12px; }
    .menu .name-food h4 {
      color: #e7272d;
      text-transform: uppercase; }
    .menu .name-food p {
      background-color: #e7272d;
      color: #fff;
      border-radius: 10px; }
    .menu .name-food p:hover {
      border: 1px solid #e7272d;
      background: none;
      color: #000; }
    .menu .name-food input {
      width: 42px;
      border: 1px solid #000; }
    .menu .name-food button {
      padding: 0px 12px;
      background-color: #e7272d;
      color: #fff;
      border-style: none; }
    .menu .name-food button:hover {
      background: #000; }
    .menu .name-food .add-cart {
      padding: 8px 4px;
      margin-left: 20px;
      background: none;
      color: #e7272d;
      border: 1px solid #e7272d;
      border-radius: 4px; }
    .menu .name-food .add-cart:hover {
      color: #fff;
      background: #e7272d;
      transition-duration: 0.75s; }

.servises {
  margin-bottom: 67px; }
  .servises h3 {
    color: #000;
    margin-bottom: 24px;
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center; }
  .servises .line {
    width: 80px;
    height: 1px;
    background: #252525;
    margin: 0 auto;
    margin-bottom: 50px; }
  .servises img {
    margin-bottom: 15px;
    max-width: 100%;
    height: auto; }
  .servises h4 {
    text-align: center;
    font-size: 24px; }
  .servises p {
    text-align: center;
    font-size: 14px; }

.content {
  margin-bottom: 67px;
  background-image: url("img/resize-1024x683.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .content h3 {
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    text-transform: uppercase;
    margin-left: 40px;
    padding-top: 45px;
    margin-bottom: 37px;
    text-align: center; }
    .content h3 span {
      color: #ff0000; }
  .content .text-content1 {
    margin-bottom: 20px;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    color: #fff;
    text-align: center; }
  .content .text-content2 {
    margin-bottom: 20px;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    color: #fff;
    text-align: center; }
  .content .text-content3 {
    margin-bottom: 20px;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    color: #fff;
    text-align: center; }
  .content .text-content4 {
    margin-bottom: 20px;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    color: #fff;
    text-align: center; }

.information-koi {
  margin-top: 45px;
  margin-bottom: 50px; }
  .information-koi .information:hover {
    box-shadow: 2px 2px 2px 2px grey;
    transition: 0.5s; }
  .information-koi h3 {
    text-align: center;
    font-size: 48px;
    color: #000;
    margin-bottom: 32px; }
  .information-koi .line {
    width: 80px;
    height: 1px;
    background: #ff0000;
    margin: 0 auto;
    margin-bottom: 50px; }
  .information-koi img {
    max-width: 100%;
    height: auto; }
  .information-koi h4 {
    font-size: 24px; }
    .information-koi h4 a {
      color: #000; }
    .information-koi h4 a:hover {
      text-decoration: none !important; }
  .information-koi .date {
    color: #e7272d;
    margin-bottom: 10px; }
    .information-koi .date a {
      color: #000; }
  .information-koi p {
    font-size: 15px;
    color: #646464;
    margin-bottom: 30px; }

footer {
  background: #191d20; }
  footer h3 {
    color: #fff;
    font-size: 21px;
    letter-spacing: 1px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 20.8px;
    margin-top: 64px; }
  footer p {
    color: #bbb;
    font-size: 14.4px;
    line-height: 28.2px;
    width: 257px; }
    footer p span {
      display: block;
      margin-top: 14px; }
  footer h5 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin: 16px 0px; }
  footer .link1 {
    color: #bbbbbb;
    width: 30px;
    height: 30px;
    line-height: 29px;
    text-align: center; }
  footer .link2 {
    color: #bbbbbb;
    width: 30px;
    height: 30px;
    line-height: 29px;
    text-align: center; }
  footer .link3 {
    color: #bbbbbb;
    width: 30px;
    height: 30px;
    line-height: 29px;
    text-align: center; }
  footer .link4 {
    color: #bbbbbb;
    width: 30px;
    height: 30px;
    line-height: 29px;
    text-align: center; }
  footer .item {
    margin-right: 8px;
    cursor: pointer; }
  footer .item span:hover {
    border: 2px solid #f26522;
    color: #f26522;
    transition: 0.5s all; }
  footer .text {
    color: #bbb;
    font-size: 14.4px;
    line-height: 28.2px;
    text-align: center;
    list-style-type: none;
    width: 257px;
    margin-bottom: 14.4px; }
    footer .text a {
      color: #f35041 !important; }
    footer .text span {
      display: block;
      text-align: left;
      margin-top: 9.4px; }
  footer .input {
    margin-top: 21px;
    margin-bottom: 14px; }
  footer .btn-footer {
    padding: 7px 28px;
    color: #f35041;
    border: 1px solid #f35041; }
  footer .btn-footer:hover {
    background: #f35041;
    color: #fff;
    border: 1px solid #fff; }
  footer .img-footer:hover {
    opacity: 0.4;
    transition-duration: 0.5s; }
  footer .messege {
    position: fixed;
    right: 4%;
    bottom: 17%; }
    footer .messege a img {
      width: 60px;
      height: auto; }

.footer {
  background-color: #0f1215; }
  .footer p {
    text-align: center;
    padding: 14px 0px; }
    .footer p a {
      color: #f35041 !important; }

/*# sourceMappingURL=style.css.map */
