@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
* {
  margin: 0;
  padding: 0; }

header .infor {
  background: #000; }
  header .infor .infor-nav {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    header .infor .infor-nav .info-item {
      padding: 12px 0px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      header .infor .infor-nav .info-item .info-link {
        color: #fff; }
        header .infor .infor-nav .info-item .info-link .lang {
          margin-right: 20px; }
      header .infor .infor-nav .info-item .info-link span:hover {
        color: #cf385e; }
header .menu-header {
  position: sticky;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  border-bottom: 1px solid #cf385e; }
header .menu1 {
  display: flex;
  justify-content: center;
  align-items: center; }
  header .menu1 .nav-item {
    padding-top: 40px;
    padding-bottom: 40px; }
  header .menu1 .nav-link {
    color: #000;
    margin: 0 15px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    box-sizing: border-box;
    overflow: hidden;
    border-style: none;
    border: 1px solid #fff; }
  header .menu1 .nav-link:hover {
    color: #e7272d;
    border: 1px solid #e7272d;
    transition-duration: 0.5s; }
header .menu-search {
  display: flex; }
  header .menu-search .search-text {
    display: none;
    outline: none !important;
    border-bottom: 1.5px solid #e7272d !important;
    border-style: none; }
  header .menu-search .search-text::placeholder {
    color: #e7272d; }
  header .menu-search .active {
    display: inline-block; }
  header .menu-search .cart {
    border-style: none;
    background: #fff;
    margin: 0 5px;
    color: #000; }
  header .menu-search .cart:hover {
    text-decoration: none !important; }
  header .menu-search .circle {
    background: #e7272d;
    color: #fff;
    border-radius: 50%;
    padding: 5px; }
header .menu2 {
  text-align: center;
  padding: 16px 0px; }
header .menu3 {
  display: none; }
header .res {
  display: flex;
  justify-content: space-between;
  display: none;
  border-bottom: 1.5px solid #e7272d !important; }
  header .res .nav-bg {
    background: #eee;
    position: relative; }
    header .res .nav-bg .nav-bg-button {
      color: #e7272d !important;
      border-color: 1px solid #e7272d;
      outline: none !important; }
    header .res .nav-bg .nav-menu {
      background: #eee; }
      header .res .nav-bg .nav-menu li {
        margin-bottom: 10px; }
        header .res .nav-bg .nav-menu li a {
          padding: 14px;
          border: 1px solid #e7272d;
          border-radius: 8px;
          color: #e7272d;
          text-transform: uppercase; }
        header .res .nav-bg .nav-menu li a:hover {
          background: #e7272d;
          color: #fff;
          transition: 0.75s;
          border-style: none; }
  header .res .form-search {
    position: relative;
    border: 1px solid #e7272d;
    margin: 0 auto; }
    header .res .form-search input {
      background: none;
      border-style: none;
      outline: none !important; }
    header .res .form-search button {
      background: none;
      border-style: none;
      position: absolute;
      right: 0; }
  header .res .icon {
    text-align: center;
    color: #e7272d;
    margin-top: 27px; }
@media screen and (max-width: 767px) {
  header .res {
    display: block;
    display: flex; }
  header .menu1 {
    display: none; }
  header .menu2 {
    display: none; } }
@media screen and (max-width: 575px) {
  header .res {
    display: block;
    display: flex; }
  header .menu1 {
    display: none; }
  header .menu2 {
    display: none; } }

.content-top {
  background-image: url("img/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .content-top h1 {
    color: #fff;
    font-size: 48px;
    padding: 50px 0px; }
  .content-top p {
    padding: 50px 0px; }
    .content-top p span {
      color: #e7272d;
      font-size: 14px; }
    .content-top p a {
      color: #fff; }

.content-bottom .new-header {
  margin-bottom: 60px; }
  .content-bottom .new-header .img-content {
    width: 100%; }
    .content-bottom .new-header .img-content img {
      width: 100%;
      height: auto; }
  .content-bottom .new-header .text-content {
    border-bottom: 1px solid #646464; }
    .content-bottom .new-header .text-content h2 {
      padding-top: 30px; }
      .content-bottom .new-header .text-content h2 a {
        color: #000;
        font-size: 30px; }
      .content-bottom .new-header .text-content h2 a:hover {
        text-decoration: none; }
    .content-bottom .new-header .text-content .nav-content {
      position: relative;
      margin-top: 20px;
      margin-bottom: 40px; }
      .content-bottom .new-header .text-content .nav-content li {
        padding: 0px 20px;
        border-right: 1px solid #aaa; }
        .content-bottom .new-header .text-content .nav-content li span a {
          color: #e7272d; }
      .content-bottom .new-header .text-content .nav-content li:first-child {
        padding-left: 0px !important; }
    .content-bottom .new-header .text-content .nav-content:after {
      content: "";
      position: absolute;
      height: 4px;
      width: 44px;
      background: #e7272d;
      bottom: -18px;
      z-index: 30; }
    .content-bottom .new-header .text-content p {
      font-size: 14px;
      color: #646464;
      margin-bottom: 24px;
      font-family: 'Roboto Slab', serif;
      width: 100%;
      margin-bottom: 50px; }
    .content-bottom .new-header .text-content img {
      max-width: 100%;
      height: auto; }
    .content-bottom .new-header .text-content a {
      margin-bottom: 50px; }
.content-bottom .comment h3 {
  color: #000;
  font-size: 30px;
  position: relative;
  margin-bottom: 50px; }
.content-bottom .comment p {
  font-size: 14px;
  color: #646464;
  margin-bottom: 24px;
  font-family: 'Roboto Slab', serif;
  width: 100%;
  margin-bottom: 50px; }
.content-bottom .comment textarea {
  margin-bottom: 40px; }
.content-bottom .comment input {
  margin-bottom: 40px; }
.content-bottom .comment button {
  margin-bottom: 70px; }

.sider-bar-header {
  margin-bottom: 40px; }
  .sider-bar-header h3 {
    color: #000;
    font-size: 30px;
    position: relative;
    margin-bottom: 50px; }
  .sider-bar-header h3:after {
    content: "";
    position: absolute;
    height: 4px;
    width: 44px;
    background: #e7272d;
    bottom: -18px;
    z-index: 30;
    left: 0; }
  .sider-bar-header .search {
    border: 1px solid #e7272d;
    width: 70%; }
    .sider-bar-header .search input {
      padding: 6px 12px;
      border-style: none; }
    .sider-bar-header .search button {
      background: none;
      border: none;
      color: #e7272d; }

.sider-bar-center h3 {
  color: #000;
  font-size: 30px;
  position: relative;
  margin-bottom: 50px; }
.sider-bar-center h3:after {
  content: "";
  position: absolute;
  height: 4px;
  width: 44px;
  background: #e7272d;
  bottom: -18px;
  z-index: 30;
  left: 0; }
.sider-bar-center p span {
  color: #e7272d; }
.sider-bar-center p a {
  color: #646464;
  font-size: 14px;
  font-family: 'Roboto Slab', serif; }

.sider-bar-footer {
  width: 75%; }
  .sider-bar-footer h3 {
    color: #000;
    font-size: 30px;
    position: relative;
    margin-bottom: 50px; }
  .sider-bar-footer h3:after {
    content: "";
    position: absolute;
    height: 4px;
    width: 44px;
    background: #e7272d;
    bottom: -18px;
    z-index: 30;
    left: 0; }
  .sider-bar-footer a {
    padding: 5px 20px;
    margin: 0px 5px 7px 0px;
    border: 1px solid #646464;
    color: #646464;
    font-size: 14px;
    font-family: 'Roboto Slab', serif; }
  .sider-bar-footer a:hover {
    background-color: #e7272d;
    color: #fff;
    border-style: 1px solid #fff;
    transition: 0.6s; }

footer {
  background: #191d20; }
  footer h3 {
    color: #fff;
    font-size: 21px;
    letter-spacing: 1px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 20.8px;
    margin-top: 64px; }
  footer p {
    color: #bbb;
    font-size: 14.4px;
    line-height: 28.2px;
    width: 257px; }
    footer p span {
      display: block;
      margin-top: 14px; }
  footer h5 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin: 16px 0px; }
  footer .link1 {
    color: #bbbbbb;
    width: 30px;
    height: 30px;
    line-height: 29px;
    text-align: center; }
  footer .link2 {
    color: #bbbbbb;
    width: 30px;
    height: 30px;
    line-height: 29px;
    text-align: center; }
  footer .link3 {
    color: #bbbbbb;
    width: 30px;
    height: 30px;
    line-height: 29px;
    text-align: center; }
  footer .link4 {
    color: #bbbbbb;
    width: 30px;
    height: 30px;
    line-height: 29px;
    text-align: center; }
  footer .item {
    margin-right: 8px;
    cursor: pointer; }
  footer .item span:hover {
    border: 2px solid #f26522;
    color: #f26522;
    transition: 0.5s all; }
  footer .text {
    color: #bbb;
    font-size: 14.4px;
    line-height: 28.2px;
    text-align: center;
    list-style-type: none;
    width: 257px;
    margin-bottom: 14.4px; }
    footer .text a {
      color: #f35041 !important; }
    footer .text span {
      display: block;
      text-align: left;
      margin-top: 9.4px; }
  footer .input {
    margin-top: 21px;
    margin-bottom: 14px; }
  footer .btn-footer {
    padding: 7px 28px;
    color: #f35041;
    border: 1px solid #f35041; }
  footer .btn-footer:hover {
    background: #f35041;
    color: #fff;
    border: 1px solid #fff; }
  footer .img-footer:hover {
    opacity: 0.4;
    transition-duration: 0.5s; }

.footer {
  background-color: #0f1215; }
  .footer p {
    text-align: center;
    padding: 14px 0px; }
    .footer p a {
      color: #f35041 !important; }

/*# sourceMappingURL=style.css.map */
