footer{
    background: #191d20;
    @mixin h3 {

            color:#fff;
            font-size: 21px;
            letter-spacing: 1px;
            font-family: 'Roboto Condensed', sans-serif;
            margin-bottom: 20.8px;
            margin-top: 64px;


    }
    h3{
        @include h3;
    }
    @mixin p {
        color:#bbb;
        font-size:14.4px ;
        line-height: 28.2px;
        //  text-align: center;
        width:257px;
    }
    p{
        @include p;
        span{
            display: block;
            margin-top:14px;
        }
    }
    h5{
        color:#fff;
        font-size: 16px;
        font-weight: 600;
        margin :16px 0px;
    }
    @for $i from 1 to 5{
        .link#{$i}{
            color:rgb(187,187,187);
            width:30px;
            height:30px;
            line-height: 29px;
            text-align: center;
        }
    }
    .item{
        margin-right: 8px;
        cursor: pointer;
    }
    .item span:hover{
        border:2px solid #f26522;
        color:#f26522;
        transition:0.5s all;
    }
    .text{
        color:#bbb;
        font-size:14.4px ;
        line-height: 28.2px;
        text-align: center;
        list-style-type: none;
        width:257px;
        margin-bottom: 14.4px;
        a{
            color:#f35041 !important;
        }
        span{
            display: block;
            text-align: left;
            margin-top:9.4px;
        }
    }
    .input{
        margin-top: 21px;
        margin-bottom: 14px;

    }
    .btn-footer{
        padding: 7px 28px;
        color:#f35041;
        border:1px solid #f35041;
    }
    .btn-footer:hover{
        background: #f35041;
        color:#fff;
        border:1px solid #fff;
    }
    .img-footer:hover{

        opacity: 0.4;
        transition-duration: 0.5s;
    }
}
.footer{
    background-color: #0f1215;
    p {
        text-align: center;
        padding:14px 0px;
        a{
            color:#f35041 !important;

        }
    }
}